@import "typography";
@import "layout";
@import "animation";

.circle-before::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: -15px;
  top: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  color: #333;
}